<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.0.4" targetFramework="net451" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net451" />
  <package id="Microsoft.TeamFoundation.TestManagement.All" version="12.0.30723.2" targetFramework="net451" />
  <package id="Microsoft.TeamFoundation.WorkItemTracking.All" version="12.0.30723.2" targetFramework="net451" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Client" version="12.0.21005.3" targetFramework="net451" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Common" version="12.0.30501.1" targetFramework="net451" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Diff" version="12.0.30501.1" targetFramework="net451" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.Client" version="12.0.21005.1" targetFramework="net451" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.Common" version="12.0.21005.1" targetFramework="net451" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.WebApi" version="12.0.21005.1" targetFramework="net451" />
  <package id="nuget-bot.Microsoft.TeamFoundation.WorkItemTracking.Client.DataStoreLoader" version="12.0.31101" targetFramework="net452" />
</packages>